
<!-- <button class="btn btn-primary">submit</button> -->
<div class="container">
  <form [formGroup]="Emailregi"  (ngSubmit)="onsubmit()">
    <h2 class="text-success">Sent email</h2>
    <input type="email" class="form-control w-25" formControlName="toemail" placeholder="enter to email"><br>
    <input type="test" class="form-control w-25" formControlName="msg" placeholder="enter message"><br>
    <input type="text" class="form-control w-25" formControlName="subject" placeholder="enter subject"><br>
    <button class="btn btn-warning">submit</button>
  </form><br>
  <h4 class="text-danger">{{message}}</h4>
<hr>

  <button class="btn btn-danger" routerLink="attachment/fileattach">attachnemt</button>
</div>

<router-outlet></router-outlet>